{% from 'bootstrap/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        {% endblock title%} - {{admin.blog_title | default('Blog Title')}}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
   
    {% endblock head%}
</head>

<body>
    {% block nav%}
    <nav class="navbar navbar-expand-lg navbar-primary bg-light">
        <div class="container">
            <a class="navbar-brand text-uppercase" style="font-weight: bold;" href="{{ url_for('blog.index')}}" >
                {{ admin.name}}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon" style="color: #4582ec; font-weight: bold;">MENU</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;" href="{{ url_for('blog.index')}}" >
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;" href="{{ url_for('blog.about')}}" >
                            About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;" href="{{ url_for('blog.recommend')}}" >
                            recommend
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;" href="{{ url_for('blog.display')}}" >
                            BLog
                        </a>
                    </li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-uppercase" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false" style="font-weight: bold;">
                            Management
                            <span class="caret"></span>
                            {% if unread_comments %}
                            <span class="badge badge-success">
                                new
                            </span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{{ url_for('management.add_article') }}" style="font-weight: bold;">
                                New Article
                            </a>
                            <a class="dropdown-item" href="{{ url_for('management.add_category') }}" style="font-weight: bold;">
                                New Category
                            </a>
                            <a class="dropdown-item" href="{{ url_for('management.manage_article') }}" style="font-weight: bold;">
                                Manage Article
                            </a>
                            <a class="dropdown-item" href="{{ url_for('management.manage_category') }}" style="font-weight: bold;">
                                Manage Category
                            </a>
                            <a class="dropdown-item" href="{{ url_for('management.manage_comment') }}" style="font-weight: bold;">
                                Manage Comment
                                {% if unread_comments %}
                                    <span class="badge badge-success"> 
                                        {{ unread_comments }}
                                    </span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{{ url_for('management.manage_bio') }}" style="font-weight: bold;">
                                Manage AboutMe
                            </a>
                            <a class="dropdown-item" href="{{ url_for('authorization.logout', next = request.full_path )}}" 
                            style="font-weight: bold;" >
                                Logout
                            </a>
                            {% else %}
                            <li  class="nav-item">
                                <a class="nav-link" href="{{ url_for('authorization.login', next = request.full_path )}}"
                                style="font-weight: bold;" >
                                    Login
                                </a>
                            </li>
                            {% endif %}
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {% endblock nav %}

    <main class="container">
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{ message[1] }}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
        <footer>
            <p class="float-left">
                <small>
                    &copy; 2020 Junhao & Yihua
                </small>
            </p>
        </footer>
        {% endblock footer %}
    </main>

    {% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    {% endblock %}
</body>

</html>