
    <!DOCTYPE html>
    <html lang="en">
        {% block head%}
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>
       
    </title>
    
    
        
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/academic.css') }}" type="text/css">
    <link href="{{url_for('static', filename = 'css/cover.css')}}" rel="stylesheet" type="text/css">
    {% endblock head%}
        </head>
    
        <body>
    {% block content %}
            
        <div class="site-wrapper">
    
            <div class="site-wrapper-inner">
    
                <div class="cover-container">
    
                    <div class="masthead clearfix">
                        
                        <div class="inner">
                            
                            
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li class="active"><a href="/blog/index/">HOME</a></li>
                                    <li><a href="/blog/list/">BLOG</a></li>
                                    
                                    <li><a href="/blog/aboutme/">ABOUT</a></li>
                                </ul>
                            </nav>
    
                        </div>
    
                    </div>
    
                    <div class="inner cover">
                        <h1 class="cover-heading">Welcome to my site!</h1>
                        <p class="lead">
                            Stay hungry. Stay foolish.<br>
                        </p>
                        <p class="lead">
                            <a href="/blog/list/" class="btn btn-lg btn-default">Read more</a>
                        </p>
                    </div>
    
                    <div class="mastfoot">
                        <div class="inner">
                            <p></a></p>
                            <p>CopyRight &copy 2020</p>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    
            <!-- common JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/static/js/bootstrap/jquery.min.js"></script>
            <script src="/static/js/bootstrap/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="/static/js/bootstrap/assets/ie10-viewport-bug-workaround.js"></script>
            
        
            
    
            {% endblock %}
        </body>
    
    </html>
    