{% from 'bootstrap/pagination.html' import render_pager %}
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 class="display-3">
            {{ admin.site_title | default('Blog Title')}}
        </h1>
    </div>
    <div class="row">
        <div class="col-8">
            
            {% if articles %}
                {% for article in articles %}
                    <h3 class="text-primary">
                        <a href="{{ url_for('.show_article', article_id = article.id)}}">
                            {{ article.title }}
                        </a>
                    </h3>
                    <p>
                        {{ article.body | striptags | truncate}}
                        <small>
                            <a href=" {{ url_for('.show_article', article_id = article.id) }}">
                                Read more
                            </a>
                        </small>
                    </p>
                    <small>
                        Comments: <a href="{{ url_for('.show_article', article_id = article.id)}}#comments">
                            {{ article.comments | length}}
                        </a>&nbsp;&nbsp;
                        Category: <a href="{{ url_for('.show_category', category_id = article.category.id)}}">
                                {{ article.category.name}}</a>
                                <span class="float-right">
                                    {{ moment(article.timestamp).format('LL')}}
                                </span>
                    </small>
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="tip">
                    <h5>There are no articles yet.</h5>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('admin.new_article')}}">
                            Write the first article
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if articles %}
                <div class="page-footer">
                    {{ render_pager(pagination)}}
                </div>
            {% endif %}
        </div>
        <div class="col-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}